doctype html
html(lang="ru-Ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        block title
            -var title = "ntpc"
            -var page = ''
        title #{title + (page.length ? " - " : "") + (typeof page === 'string' ? page : page[page.length - 1])}
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic')
        link(rel='stylesheet', href='css/concat-css-libs.css')
        //link(rel='stylesheet', href='css/concat-css.css')
        link(rel='stylesheet', href='css/common.css')
        link(rel='stylesheet', href='css/index.css')
        link(rel='stylesheet', href='css/innerpage.css')
        link(rel='stylesheet', href='css/feedback.css')
        link(rel='stylesheet', href='css/contact.css')
        link(rel='stylesheet', href='css/about.css')
        link(rel='stylesheet', href='css/license.css')
        link(rel='stylesheet', href='css/pricedown.css')
        link(rel='stylesheet', href='css/ecp.css')
        link(rel='stylesheet', href='css/ecp2.css')
        link(rel='stylesheet', href='css/nanocad.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
        .toPushFooter
            block header
                mixin header
                    .container.flex_row__center.align_center
                        a(class='header__logo' href='index.html')
                            img(src='img/logo-ntpc.png')

                        .header__tel
                            .number +7 (812) 320-61-61
                            .call заказать звонок

                        form(class='header__search' method='get')
                            input(type='text' placeholder='Поиск по сайту')
                            button(type='submit')

                        .header__catalog__wrap
                            #topmenu__burger
                                .burger
                                    i
                            .header__catalog
                                .title КАТАЛОГ
                                .content
                                    .flex_row__start
                                        .left
                                            .square.top.flex_column.align_center
                                                ul.foricons#foricons__1
                                                    li.content__title
                                                        a(href='tender.html' class='inactiveLink') Инженерное ПО
                                                    li
                                                        a(href='tender.html') NanoCAD
                                                    li
                                                        a(href='tender.html' class='inactiveLink') Model Studio CS
                                                    li
                                                        a(href='tender.html' class='inactiveLink') Pilot-ICE
                                                    li
                                                        a(href='engsoft.html') Renga

                                            .square.bottom.flex_column.justify_center.align_center
                                                ul
                                                    li.content__title.lonely
                                                        a(href='license.html') NormaCS
                                                    li.content__title.lonely
                                                        a(href='license-inner.html') Гарант
                                                    li.content__title.lonely
                                                        a(href='nanocad1.html') Обучение
                                        .right
                                            ul.foricons#foricons__2
                                                li.content__title
                                                    a(href='' class='inactiveLink') Электронная подпись
                                                li
                                                    a(href='' class='inactiveLink') Для гос. порталов
                                                li
                                                    a(href='' class='inactiveLink') Для электронных торгов
                                                li
                                                    a(href='' class='inactiveLink') Электронная отчетность
                                                li
                                                    a(href='' class='inactiveLink') Электронный документооборот
                                                li
                                                    a(href='' class='inactiveLink') Электронные кассы


                                            ul.foricons#foricons__3
                                                li.content__title
                                                    a(href='pricedown.html') Тендерное сопровождение
                                                li
                                                    a(href='nanocad2.html') Аккредитация / Установка
                                                li
                                                    a(href='' class='inactiveLink') Обучение Торгам
                                                li
                                                    a(href='' class='inactiveLink') Подготовка для участия в тендере
                                                li
                                                    a(href='' class='inactiveLink') Полное сопровождение

                if page == 'Главная'
                    .header
                        +header
                else if page != 'Главная'
                    .header.notindexpage
                        +header

                mixin navLink(link, name)
                    li
                        a(href=link class={active: name === page}) #{name}
                        span.slash

                if page == 'Главная'
                    .topmenu
                        #topmenu__burger
                            .burger
                                i
                        ul.container
                            +navLink('pricedown.html', 'Акции')
                            +navLink('ecp.html', 'Новости')
                            +navLink('ecp2.html', 'Статьи')
                            +navLink('feedback.html', 'Отзывы')
                            +navLink('about.html', 'О компании')
                            +navLink('contact.html', 'Контакты')
                else if page != 'Главная'
                    .topmenu.notindexpage
                        #topmenu__burger
                            .burger
                                i
                        ul.container
                            +navLink('pricedown.html', 'Акции')
                            +navLink('ecp.html', 'Новости')
                            +navLink('ecp2.html', 'Статьи')
                            +navLink('feedback.html', 'Отзывы')
                            +navLink('about.html', 'О компании')
                            +navLink('contact.html', 'Контакты')
                            li.authorization
                                span Вход
                                span.slash
                                span Регистрация






            block content
                | Ling yellowtail flagtail southern flounder. Ribbon eel northern pike glass knifefish cepalin barbelless catfish cusk-eel ridgehead, mahi-mahi. Glass knifefish snubnose eel pompano dolphinfish lemon shark salmon duckbilled barracudina common tunny skate, codlet. Perch tarpon, zebra pleco--round herring jewfish, New Zealand sand diver. Spiny dwarf catfish slickhead clown triggerfish. Shad New Zealand sand diver cavefish banjo catfish bamboo shark spiny basslet, pigfish handfish.
        block footer
            .footer
                .container
                    .footer__wrap
                        a(class='footer__logo' href='')
                            img(src='img/logo-ntpc.png')
                        ul.footer__company
                            li.footer__title КОМПАНИЯ
                            li
                                a(href='about.html') О компании
                            li
                                a(href='contact.html') Контакты
                            li
                                a(href='ecp.html') Новости
                            li
                                a(href='pricedown.html') Акции
                            li
                                a(href='license.html') Лицензии
                            li
                                a(href='license-inner.html') Работа в компании
                            li
                                a(href='tender.html') Корпоративная жизни



                        ul.footer__fields
                            li.footer__title НАПРАВЛЕНИЯ
                            li
                                a(href='') Инженерное ПО
                            li <span>- </span> <a href='nanocad1.html'>NanoCAD</a>
                            li <span>- </span> <a href='nanocad2.html'>Renga</a>
                            li
                                a(href='') Электронные услуги
                            li <span>- </span> <a href='engsoft.html'>Электронная подпись</a>
                            li <span>- </span> <a href='ecp.html'>Кассы под ключ</a>
                            li
                                a(href='ecp2.html') NormaCS
                            li
                                a(href='pricedown.html') Гарант

                        ul.footer__contact
                            li.footer__title КОНТАКТЫ
                            li <b>Телефон:</b> +7 (812) 320-61-61
                                div E-mail: info@3206161.ru
                            li <b>Адрес:</b> Санкт-Петербург
                                div Пр. Энгельса, д. 124, к. 1
                            li <b>Режим работы:</b>
                                div Пн. – Пт.: с 9:30 до 18:00
                                div Сб. - Вс.: выходные

            <div class="modalImg">
                <div class="overlay"></div>
                <div class="img-show">
                    <span>X</span>
                    <img src="">
                </div>
            </div>

        .overlay

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.min.js')
        script(src="https://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js")
        script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src='js/concat-js-libs.js')
        script(src='js/common.js')
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGbclFi3wr16ier0KgiNuocl713ihJmO0&callback=initMap" type="text/javascript"></script>
