@font-face {
  font-family: 'TimesNewRomanPSMT'
  src: url('/fonts/TimesNewRomanPSMT.ttf')
}
@font-face {
  font-family: 'Calibri'
  src: url('/fonts/Calibri.ttf')
}
@font-face {
  font-family: 'calibri'
  src: url('/fonts/Calibri.ttf')
}
@font-face {
  font-family: 'latoblack'
  src: url('/fonts/latoblack.ttf')
}
@font-face {
  font-family: 'latobold'
  src: url('/fonts/latobold.ttf')
}
@font-face {
  font-family: 'latoregular'
  src: url('/fonts/latoregular.ttf')
}
@font-face {
  font-family: 'latolight'
  src: url('/fonts/latolight.ttf')
}

* {
  font-family: latoregular
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.toPushFooter {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  margin: 0 auto
  padding: 0 15px 0 15px
  max-width: 1030px
  width: 100%
}

a {
  color: #0f73b9
  text-decoration: underline
  &:hover {
    text-decoration: none
  }
}

h2.innerPage__title {
  margin-top: 40px
  font-family: latoblack
  font-size: 26px
  line-height: 32px
  color: #34546c
}

.crumbs {
  margin-bottom: 40px//25px
  a {
    font-family: latoregular
    font-size: 16px
    line-height: 32px
    color: #000000;
    &.current {
      pointer-events: none
      cursor: default
      text-decoration: none
    }
  }
  .slash {
    margin: 0 4px 0 4px
    font-family: TimesNewRomanPSMT
    &:before {
      display: none
    }
  }
}

.slash {
  &:before {
    content: '/'
    margin: 0 5px 0 5px
  }
}



form.form__submit {
  display: flex
  flex-direction: column
  align-items: center
  position: relative
  padding: 10px 30px 0 30px
  min-width: 290px
  width: 300px
  background: #ffffff
  h3 {
    margin: 13px 0 20px 0
    font-family: latoblack
    font-size: 23px
    line-height: 25px
    color: #5a7eba
  }
  input,
  textarea {
    margin-bottom: 17px
    padding: 0 5px 0 40px
    max-width: 227px
    width: 100%
    height: 40px
    border: 1px solid #ababab
    border-radius: 4px
    font-family: latoregular
    font-size: 16px
    line-height: 25px
    box-sizing border-box
    &::placeholder {
      color: #666666;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: #666666;
    }

    &::-ms-input-placeholder {
      color: #666666;
    }
  }
  .input {
    position: relative
    &:before {
      content: ''
      position: absolute
      top: 0
      left: 15px
      width: 17px
      height: 17px
      background: black
    }
  }
  input {
    &.name,
    &.tel {
      background: url(/img/iconset-feedback1.jpg) no-repeat 12px 10px
    }
    &.tel {
      background-position: 12px -46px
    }
  }
  textarea {
    padding: 5px 12px 5px 12px
    height: 105px
    resize: none
  }

  .agreement {
    color: #848586
    font-family: latoregular
    font-size: 12px
    line-height: 25px
    a {
      color: #848586
    }
    label {
      padding-left: 22px
      &:before {
        top: -1px
      }
    }
    input:not(checked) + label:before {
      top: 4px
      width: 15px
      height: 15px
      background: url(/img/icon-checkbox.png) no-repeat
      background-size: cover
      border-radius: 0
    }
    input:not(checked) + label:after {
      top: 50%;
      margin-top: -6px;
      left: 5px;
      width: 3px;
      height: 6px;
      background: transparent
      border-right: 1px solid #ffffff
      border-bottom: 1px solid #ffffff
      border-radius: 0
      transform: rotate(45deg)
    }
    input[type='checkbox'] {
      height: 0
    }
  }
}


.pagination {
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin: 0 10px 76px 10px
  .pag {
    display: flex
    justify-content: center
    align-items: center
    margin: 5px
    min-width: 40px
    height: 40px
    line-height: 40px
    font-size: 20px
    color: #000000
    text-decoration: none
    border: 1px solid rgba(216, 216, 216, 0.8)
    &.arrow {
      padding-bottom: 3px
      font-family: TimesNewRomanPSMT
    }
    &:hover {
      border: 1px solid rgba(67, 115, 170, 0.8)
    }
    &.active {
      border: 1px solid rgba(67, 115, 170, 0.8)
    }
  }
}

#topmenu__burger {
  display: none
  position: relative
  width: 100%
  height: 55px
  background: rgba(67,115,170,0.4)
  .burger {
    top: 50%
    left: 0
    &.active {
      i {
        background: transparent
      }
    }
    i {
      background: white
      &:before,
      &:after {
        background: white
      }
    }
  }
}

@media (max-width: 430px) {
  #topmenu__burger {
    position: static !important
    display: block
    .burger {
      //position: static
    }
  }
}


.btn2 {
  position: relative
  width: 103px
  height: 35px
  font-size: 16px
  line-height: 35px
  color: #ffffff
  border-radius: 4px
  background-color: #6dadda
  cursor: pointer
  &:before {
    content: ''
    position: absolute
    z-index: -1
    left: 0
    top: 0
    bottom: -5px
    width: 100%
    height: 35px
    background-color: #4984ad;
    border-radius: 4px
  }
  &:after {
    content: ''
    position: absolute
    z-index: -2
    left: -4px
    right: -4px
    top: -4px
    bottom: -4px
    background-color: #b3cada
    border-radius: 4px
  }
  &--red {
    z-index: 0
    padding: 0 14px 0 14px
    width: auto
    background: rgba(221, 127, 104, 0.4)
    &:before {
      background-color: #dd7f68
    }
    &:after {
      z-index: -1
      background: rgba(221, 127, 104, 0.4)
    }
  }
}
.btn3 {
  display: flex
  align-items: center
  justify-content: center
  min-width: 113px
  height: 27px

  font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #545454;

  border: 1px solid #9e9e9e
  border-radius: 4px
  background-color: #fcf4c0
  cursor: pointer
  &--white {
    background: #ffffff
  }
}


.font-red {
  color: #d76546
}
.font-dark {
  color: #545454 !important
}
.font-bold {
  font-weight: 600 !important
}


.checkbox {
  display: flex
  height: auto
  &--picture {
    label {
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding: 0 !important
      text-align: center
      &:hover {
        span.img__wrap {
          &:before {
            opacity: 1
          }
        }
      }
      img {
        position: relative
        z-index: 1
      }
      span.img__wrap {
        position: relative
        margin: auto 0 0 0
        &:before {
          content: ''
          position: absolute
          z-index: 0
          top: 50%
          left: 50%
          //margin-left: -50%
          //transform: translateY(-50%)
          margin: -41.5px 0 0 -41.5px
          width: 83px
          height: 83px
          background-color: #f7e0da
          border-radius: 100%
          opacity: 0
          //transition: .1s
        }
      }
      span.text {
        min-height: 55px
        margin-top: auto
        font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
        font-size: 18px
        font-weight: 400
        color: #545454
      }
    }

    input:not(checked) + label:before,
    input:not(checked) + label:after {
      display: none
    }
    input:checked + label .img__wrap {
      &:before {
        background: #d76546
        opacity: 1
      }
    }
  }
  &--cirle {
    label {
      padding-left: 31px !important
    }
    input:not(checked) + label:before {
      left: 8px
      top: 3px
      width: 15px
      height: 15px
      background: url(/img/iconset-checkbox.png) no-repeat center -20px
      transition: none !important
    }
    input:not(checked) + label:after,
    input:checked + label:after {
      left: 8px
      top: 3px
      margin: 0
      width: 15px
      height: 15px
      background: url(/img/iconset-checkbox.png) no-repeat center 0
      transition: none !important
    }
    input:not(checked) + label:after {
      opacity: 0
    }
    input:checked + label:before {
      opacity: 0
    }

  }
}


.tabs1 {
  /*new begin*/
  margin-top: 100px
  /*new end*/
  box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
  background: #ffffff
  .tabs__title__wrap {
    position: relative
/*    &:before {
      content: ''
      position: absolute
      top: -41px
      right: 40px
      left: 40px
      height: 10px
      box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
    }*/
    &:after {
      content: ''
      position: absolute
      top: 0
      width: 100%
      height: 100px
      background: #ffffff
    }
    .forshadow {
      position: absolute
      width: 100%
      height: 40px
      background: #ffffff
/*      &:before {
        content: ''
        position: absolute
        top: -26px
        right: 282px//11px
        width: 50px
        height: 50px
        box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
        transform: rotate(45deg)
      }*/
      &:after {
        content: ''
        position: absolute
        top: -27px
        left: 16px
        width: 50px
        height: 50px
        box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
        transform: rotate(45deg)
      }
    }
    .forshadow2 {
      position: absolute
      top: -41px
      right: 40px
      left: 40px
      height: 10px
      box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
    }
    .forshadow3 {
      position: absolute
      top: -26px
      width: 50px
      height: 50px
      box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
      transform: rotate(45deg)
    }
  }
  .tabs__title {
    display: flex
    position: relative
    top: -41px
    min-height: 41px
    overflow: hidden
    li {
      position: relative
      display: flex
      justify-content: center
      align-items: center
      //padding-top: 50px
      /*new begin*/
      /*i {
        position: absolute
        z-index: 1000
        top: 0px
        width: 100%
        height: 50px
        background: #fff
        //box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.8)
        &:before {
          content: ''
          position: absolute
          z-index: 1000
          top: 15px
          width: 100%
          height: 5px
          background: #ccc
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.8)
        }
        &:after {
          content: ''
          position: absolute
          top: 15px
          z-index: 10000
          width: 100%
          height: 50px
          background: #8b008b
        }
      }*/
      /*new end*/
      &:before {
        content: ''
        position: absolute
        z-index: 10
        left: -14px
        width: 50px//150px
        height: 41px
        background: #ccc
      }
      &:after {
        content: ''
        position: absolute
        z-index: -10
        right: 3px
        width: 50px//100px
        height: 400px
        background: black
        transform: rotate(-45deg)
        box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
      }
      &:last-child {
       &:after {
         box-shadow: none
       }
      }
      &:nth-child(1) {
        a {
          z-index: 30
          padding: 5px 17px 0 45px
          &:before {
            left: 45px
            background-color: darkmagenta
          }
        }
        &:before {
          z-index: 30
          top: -104px !important
          left: -45px !important
          width: 50px !important
          height: 400px !important
          transform: rotate(45deg)
          background-color: darkmagenta
          box-shadow: none !important
        }
        &:after {
          z-index: 25
          width: 60px
          right: 0
          background-color: darkmagenta
        }
      }
      &:nth-child(2) {
        a {
          z-index: 22
          /*&:before {
            background-color: #7ac6df
          }*/
        }
        /*&:before {
          background-color: #7ac6df
        }*/
        &:after {
          z-index: 20
          //background-color: #7ac6df
        }
      }

      &:nth-child(3) {
        a {
          z-index: 18
          /*&:before {
            background-color: #48a0bd
          }*/
        }
        /*&:before {
          background-color: #48a0bd
        }*/
        &:after {
          z-index: 16
          //background-color: #48a0bd
        }
      }
      &:nth-child(4) {
        a {
          z-index: 14
          /*&:before {
            background-color: #42c0c5
          }*/
        }
        /*&:before {
          background-color: #42c0c5
        }*/
        &:after {
          z-index: 12
          right: -4px
          width: 50px
          //background-color: #42c0c5
        }
      }
      &:nth-child(5) {
        a {
          z-index: 10
          //padding: 5px 43px 0 39px

          /*&:before {
            //left: -40px
            background-color: #14968e
          }*/
        }
        /*&:before {
          //left: -70px
          background-color: #14968e
        }*/
        &:after {
          z-index: 8
          //right: 40px
          //background-color: #14968e
          //box-shadow: none
        }
      }
      &:nth-child(6) {
        a {
          z-index: 7
        }
        &:before {
          z-index: 7
        }
        &:after {
          z-index: 6
        }
      }
      &:nth-child(7) {
        a {
          z-index: 7
        }
        &:before {
          z-index: 5
        }
        &:after {
          z-index: 6
        }
      }
      &.prev {
        &:after {
          right: -100px
          width: 140px
          box-shadow: none
          transform: none
        }
      }
      &.ui-tabs-active {
        &:before,
        &:after {
          background: #ffffff !important
        }
        &:before {
          z-index: 100
          top: -149px//-145px
          width: 35px//50px//100px
          height: 400px
          transform: rotate(45deg) !important
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
        }
        a {
          z-index: 200
          color: #5d5d5d
          &:before {
            background: #ffffff !important
          }
        }
/*        &:nth-child(4) {
          &:before {
            left: -20px
            width: 50px
          }
        }*/
/*        &:nth-child(5) {
          &:before {
            left: -20px
            width: 40px
          }
          &:after {

          }
          a:before {
            left: 30px
            width: 70px
          }
        }*/
      }
      a {
        position: relative
        padding: 7px 24px 0 39px
        min-width: 120px
        width: 100%
        height: 100%
        font-family: latoregular
        font-size: 20px
        color: #ffffff
        text-decoration: none
        &:before {
          content: ''
          position: absolute
          z-index: -1
          top: -5px
          left: 35px
          right: 20px//35px
          max-width: 100%
          height: 120%
          background: #7ac6df
        }
      }
    }
  }
  .tabs__content {
    position: relative
    z-index: 100
    background: #ffffff
    & > div {
      padding: 0 0 40px 0
    }
    h3 {
      display: block
      width: 228px
      font-family: latoblack
      font-size: 25px
      line-height: 25px
      color: #6197a2
      letter-spacing: 0.3px
    }
    .divider.left.right {
      margin: 0
      margin-bottom: 30px
    }
    b {
      font-family: Calibri
      font-size: 18px
      font-weight: 600
      line-height: 26px
      color: #3a3a3a
    }
    p {
      font-family: Calibri
      font-size: 16px
      line-height: 20px
      color: #3a3a3a
    }
    .divider {
      margin: 44px 0 44px 0

    }
    #tabs-1 {
      & > .flex_row__between {
        .left {
          min-width: 190px
          img {
            margin-left: 40px
            margin-right: 20px
          }
        }
        .right {
          p {
            padding-right: 40px
          }
          .companylife {
            display: block
            margin-top: 18px
          }
        }
      }
      ul.features {
        li {
          margin: 0 10px 20px 10px
          padding-top: 70px
          width: 75px
          font-family: latoregular
          font-size: 16px
          line-height: 20px
          text-align: center
          color: #4373aa
          background: url(/img/iconset-features.jpg) no-repeat
          background-position: 12px 0
          &:nth-child(2) {
            background-position: -122px 0
          }
          &:nth-child(3) {
            background-position: -260px 0
          }
        }
      }
    }
  }
}
.tabs1 {
  .tabs__title {
    li {
      &.color1 {
        &:before,
        &:after,
        a:before {
          background: darkmagenta
        } 
      }
      &.color2 {
        &:before,
        &:after,
        a:before {
          background: #7ac6df
        }
      }
      &.color3 {
        &:before,
        &:after,
        a:before {
          background: #48a0bd
        }
      }
      &.color4 {
        &:before,
        &:after,
        a:before {
          background: #42c0c5
        }
      }
      &.color5 {
        &:before,
        &:after,
        a:before {
          background: #14968e
        }
      }
      &.color6 {
        &:before,
        &:after,
        a:before {
          background: #f4a452
        }
      }

    }
  }
}


@media (max-width: 1040px) {
  .tabs1 {
    .tabs__title__wrap {
      .forshadow {
        &:before {
          top: -40px
          right: 0px
          transform: none
        }
      }
      .forshadow3 {
        top: -27px
        height: 30px
        transform: none
      }
      &:after {
        height: 200px
      }

    }
    .tabs__title {
      flex-wrap wrap
      justify-content: flex-start
      li {
        display: flex !important
        justify-content center !important
        align-items center !important
        width: 50%
        min-height: 41px
        overflow: hidden
        &:before {
          z-index: 5
          //height: 100px
        }
        &:not(:first-child) {
          &:before {
            width: 100px !important
            transform: none !important
          }
        }
        a {
          display: flex
          align-items center
          padding-top: 6px !important
          padding-right: 20px !important
          padding-bottom: 7px !important
        }
        &:after {
          z-index: 3 !important
          width: 200px!important
          height: 200px!important
        }
        &:last-child {
          &:after {
            top: -138px
          }
          a {
            &:before {
              right: 40px
            }
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .tabs1 {
    .tabs__title {
      li {
        width: 100%
      }
    }
  }
}

  /*
@media (max-width: 580px) {
  .mainfield {
    h2 {
      padding-top: 60px
      font-size: 35px !important
      line-height: 45px
    }
    #tabs {
      .tabs__title {
        li {
          width: 100%
        }
      }
    }
  }
}
  */