.footer {
  padding: 46px 0 45px 0
  &, a {
    font-family: latoregular
    font-size: 16px
    line-height: 24px
    color: #c3c3c3
    background: #404040
  }
  &__logo {
    display: flex
    align-self center
    margin-left: 47px
    height: 100%
  }
  ul {
    display: flex
    flex-direction column
    li {
      &.footer__title {
        margin-bottom: 12px
        font-family: latobold
        font-size: 16px
        line-height: 24px
        color: #ffffff
      }
      a {
        text-decoration: underline
        &:hover {
          text-decoration: none
        }
      }
    }
  }
}
