.topmenu {
  position: relative
  ul {
    position: relative
    display: flex
    justify-content: space-between
    max-width: 800px
    height: 37px
    background: #e2eef0
    &:before, &:after {
      content: ''
      position: absolute
      left: -37px
      border-left: 37px solid transparent
      border-right: 37px solid transparent
      border-bottom: 37px solid #e2eef0
      transform: rotate(180deg)
    }
    &:after {
      right: -37px
    }
    li {
      position: relative
      z-index: 9
      padding-left: 30px
      &:before {
        content: ''
        position: absolute
        top: 8px
        left: 0
        width: 19px
        height: 19px
        background: url(/img/iconset-topmenu.png) no-repeat
      }
      &:nth-child(2) {
        &:before {
          background-position: -114px 0
        }
      }
      &:nth-child(3) {
        &:before {
          background-position: -239px 0
        }
      }
      &:nth-child(4) {
        &:before {
          background-position: -350px 0
        }
      }
      &:nth-child(5) {
        &:before {
          background-position: -467px 0
        }
      }
      &:nth-child(6) {
        &:before {
          background-position: -624px 0
        }
      }

      a {
        font-family: Calibri
        font-weight: 400
        font-size: 20px
        line-height: 37px
        color: #223f50
        &:hover {
          color: #000000 !important
          text-decoration: underline
        }
        &.active {
          font-weight: 600
        }
      }
    }
  }
  #topmenu__burger {
    display: none
    position: relative
    width: 100%
    height: 55px
    background: rgba(67,115,170,0.4)
    .burger {
      top: 25px
      left: 15px
      &.active {
        i {
          background: transparent
        }
      }
      i {
        background: white
        &:before,
        &:after {
          background: white
        }
      }
    }
  }
}

.topmenu:not(.notindexpage) {
  .slash {
    display: none
  }
}

.topmenu.notindexpage {
  width: 100%
  background: #fcf4c0
  border-bottom: 1px solid #e3e1d0
  .container {
    justify-content: unset;
    max-width: 1030px
  }
  ul {
    background: #fcf4c0
    &:before,
    &:after {
      display: none
    }
    li {
      padding: 0
      font-family: latoregular
      font-size: 17px
      color: #223f50
      &:nth-last-child(2) {
        .slash {
          display: none
        }
      }
      &:before {
        display: none
      }
      a {
        font-family: latoregular
        font-size: 17px
        color: #223f50
        text-decoration: none
      }
    }
    li.authorization {
      display: flex
      align-items center
      margin-left: auto
      &:before {
        display: none
      }
      span:not(.slash) {
        cursor: pointer
        &:hover {
          color: #000000 !important
        }
      }
    }
  }
  
  #topmenu__burger {
    background: #5F95B2
  }
}


@media (max-width: 730px) {
  .topmenu.notindexpage {
    ul.container {
      justify-content space-between
      &.active {
        height: 350px
      }
      background: #e2eef0
    }
    li {
      &:not(:last-child) .slash {
        display: none
      }
      &.authorization {
        margin-top: 10px
        padding-top: 12px
        height: 45px
        border-top: 1px solid grey
        span {

        }
      }
    }
  }
}

  
@media (max-width: 730px) {
    .topmenu {
      #topmenu__burger {
        display: block
      }
      ul {
        position: absolute
        z-index: 10
        flex-direction: column
        padding-top: 0
        padding-bottom: 0
        height:0
        overflow hidden
        transition: .2s
        &.active {
          padding-top: 15px
          padding-bottom: 15px
          height: 330px
        }
        &:before,
        &:after {
          display: none
        }

        li {
          width: 100%
          a {
            display: block
            width: 100%
          }
        }
      }
    }
}

@media (max-width: 430px) {
  .topmenu {
    #topmenu__burger {
      display: none
    }
  }
}