.feedback
    .container
        .flex_row__between
            form
                h3 ОБРАТНАЯ СВЯЗЬ
                input(class='name' type='text' placeholder='Ваше имя ...')
                input(class='tel' type='text' placeholder='Ваш телефон ...')
                textarea(type='text' placeholder='Вопрос...')
                <div class="agreement checkbox">
                    <input type="checkbox" id="checkbox-icon-1"/>
                    <label for="checkbox-icon-1">Я принимаю <a href=''>условия</a> передачи инф.</label>
                </div>
                button(type='submit') ОТПРАВИТЬ

            .right
                .logo.divider.left.right
                    img(src='img/logo-ntpc2.png')

                .features.flex_row__between
                    ul
                        li Квалифицированные специалисты
                        li Специальные предложения и акции
                        li Техподдержка 24/7
                        li Кассы под ключ

                    ul
                        li Квалифицированные специалисты
                        li Специальные предложения и акции
                        li Техподдержка 24/7
                        li Кассы под ключ

                .divider
                .links
                    a(href='') Наши клиенты
                    a(href='') Лицензии и сетификаты
                    a(href='') Работа в компани
                .divider