.indexpagefirstscreen
    .container
        .single-item.single-item-desk--js
            .item
                a(href='ecp.html')
                    img(src='img/picture-slider2.jpg')
            .item
                a(href='ecp2.html')
                    img(src='img/picture-slider1.jpg')
            .item
                a(href='engsoft.html')
                    img(src='img/picture-slider2.jpg')
            .item
                a(href='ecp2.html')
                    img(src='img/picture-slider2.jpg')
            .item
                a(href='ecp.html')
                    img(src='img/picture-slider1.jpg')

        .single-item.single-item-mob--js
            .item
                a(href='ecp.html')
                    img(src='img/picture-slider-mob2.jpg')
            .item
                a(href='ecp2.html')
                    img(src='img/picture-slider-mob1.jpg')
            .item
                a(href='engsoft.html')
                    img(src='img/picture-slider-mob2.jpg')
            .item
                a(href='ecp.html')
                    img(src='img/picture-slider-mob1.jpg')
            .item
                a(href='ecp.html')
                    img(src='img/picture-slider-mob1.jpg')
