.indexpagefirstscreen
    .container
        .single-item.single-item-desk--js
            .item slide 1
            .item slide 2
            .item slide 3
            .item slide 4
            .item slide 5

        .single-item.single-item-mob--js
            .item slide 1 mob
            .item slide 2 mob
            .item slide 3 mob
            .item slide 4 mob
            .item slide 5 mob
