.mainfield
    .container
        .fillers
            .shape1
            .shape2
            .shape3
            .circle1
            .circle2
        h2 ОСНОВНЫЕ НАПРАВЛЕНИЯ
        <div id="tabs">
            .tabs__title__wrap
                .forshadow
                <ul class='tabs__title'>
                    <li><a href="#tabs-1">О компании</a></li>
                    <li><a href="#tabs-2">Инженерное ПО</a></li>
                    <li><a href="#tabs-3">Электронные услуги</a></li>
                    <li><a href="#tabs-4">NormaCS</a></li>
                    <li><a href="#tabs-5">Гарант</a></li>
                </ul>
            .tabs__content
                <div id="tabs-1">
                    .divider2.right.left
                        div
                            h3 О компании НТПЦ
                    .flex_row__start
                        .left
                            img(src='img/picture-founder.jpg')

                        .right
                            b От имени основателя:
                            p Группа компаний НТПЦ предлагает комплекс решений на основе программного обеспечения ведущих российских разработчиков: ГАРАНТ, NormaCS, nanoCAD. Группа компаний НТПЦ работает на российском рынке с 2002 года, за это время нами накоплен большой опыт в сфере внедрения передовых технологий на российских предприятиях. Знание практических деталей внедрения и солидное количество выполненных проектов является решающим аргументом для крупных российских компаний при выборе компании НТПЦ в качестве партнера по бизнесу... <a href=''>Подробнее</a>
                            a(class='companylife' href='') Корпоративная жизнь
                    .divider
                    ul.features.flex_row__around
                        li Лучший продавец 2017
                        li Лучшая компания 2016
                        li ТОП 10 компаний
                        li Лучший продавец 2017
                        li Лучшая компания 2016
                        li ТОП 10 компаний
                        li Лучший продавец 2017


                </div>
                #tabs-2
                    h3 Инженерное ПО
                    .tabs--vertical
                        ul.title
                          li
                            a(href='#tabs-ver-1') NanoCAD
                          li
                            a(href='#tabs-ver-2') Model Studio CS
                          li
                            a(href='#tabs-ver-3') Pilot-ICE
                          li
                            a(href='#tabs-ver-4') Renga

                        .content
                            #tabs-ver-1
                                .tab_content_title NanoCAD
                                p Российская универсальная САПР-платформа, содержащая все необходимые инструменты базового проектирования. Знакомый интерфейс, прямая поддержка формата DWG и расширяемость делают nanoCAD альтернативой №1 при выборе новой универсальной платформы.
                                .table1__forscroll
                                    table.table1.nanocadversions
                                        tr
                                            td(colspan="2") Версии NanoCAD:
                                        tr
                                            td 10 Plus <span class='font-red'>[Акция]</span>
                                            td Отопление
                                        tr
                                            td СПДС
                                            td Геоника
                                        tr
                                            td Металлоконструкции
                                            td Стройплощадка
                                        tr
                                            td Механика
                                            td Железобетон
                                        tr
                                            td Электро
                                            td Конструкции
                                        tr
                                            td ОПС
                                            td Облака Точек
                                        tr
                                            td СКС
                                            td Инженерный BIM
                                        tr
                                            td ВК
                                            td


                            #tabs-ver-2
                                .tab_content_title Model Studio CS
                                p <b>Model Studio CS</b>  — это инновационный программный комплекс, не имеющий равноценных аналогов во всем мире. Он объединяет во взаимосвязанном информационном пространстве трехмерную модель проектируемого или действующего промышленного предприятия или объекта
                                .table1__forscroll
                                    table.table1
                                        tr
                                            td <b>Версии Model Stydio CS</b>
                                        tr
                                            td
                                                .flex_row__between
                                                    ul
                                                        li <a href=''>CADLib Модель и Архив</a>
                                                        li <a href=''>Строительные решения</a>
                                                        li <a href=''>Технологические схемы</a>
                                                        li <a href=''>Компоновщик щитов</a>
                                                        li <a href=''>Кабельное хозяйство</a>
                                                        li <a href=''>Открытые распределительные устройства</a>
                                                        li <a href=''>ЛЭП</a>
                                                        li <a href=''>Молниезащита</a>
                                                        li <a href=''>Трубопроводы</a>
                                                    div
                                                        img(src='img/picture-csoftmodel.jpg')

                                button(class='btn2 btn2--green btn2--shadow-down' type='button') подробнее


                            #tabs-ver-3
                            #tabs-ver-4
                                <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>

                #tabs-3
                    .divider2.right.left
                        div
                            h3 Электронно цифровая подпись
                    .header__catalog
                        .content
                            ul.foricons#foricons__2
                                li.content__title
                                    a(href='') Электронная подпись
                                li
                                    a(href='') Для гос. порталов
                                li
                                    a(href='') Для электронных торгов
                                li
                                    a(href='') Электронная отчетность
                                li
                                    a(href='') Электронный документооборот
                                li
                                    a(href='') Электронные кассы


                            ul.foricons#foricons__3
                                li.content__title
                                    a(href='') Тендерное сопровождение
                                li
                                    a(href='') Аккредитация / Установка
                                li
                                    a(href='') Обучение Торгам
                                li
                                    a(href='') Подготовка для участия в тендере
                                li
                                    a(href='') Полное сопровождение


                #tabs-4
                    .divider2.right.left
                        div
                            h3 NormaCS

                    .flex_row__start
                        div
                            img(src='img/picture-disks.jpg')
                        p <b>Уникальный информационный продукт.</b><br>Программа <a href=''>NormaCS</a> предназначена для хранения, поиска и отображения текстов и реквизитов нормативных документов, а также стандартов, применяемых на территории Российской Федерации и регламентирующих деятельность предприятий различных отраслей промышленности.

                    .divider

                    ul.list--checked
                        li Полнофункциональная интеграция с <a href=''>nanoCAD</a>, офисными приложениями Microsoft, Компас 3D и AutoCAD.
                        li В базу данных программы включено свыше 35 тысяч ГОСТов и множество других документов.
                        li Общее количество карточек документов превышает 150 тысяч, а количество текстов - 95 тысяч.
                        li Интелектуальный поиск с учетом морфологии по фрагментам текста, номерам, категриям с сохранением и печатью результатов.
                        li Настраиваемый интерфейс, сортировка, фильтры, печать документов, настройка вида колонок, сохранение настроек.
                        li Копирование изображения в графические и САПР-системы. Поддержка векторных чертежей и экспорт в САПР-системы.
                        li История изменения законодательства, норм с возможностью быстрого сравнения нового документа с предыдущим.
                    button(type='button' class='btn3 btn3--white') Подробнее


                #tabs-5
                    .divider2.right.left
                        div
                            h3 <span class='font-darkblue'>Правовая система "<span class='font-red'>Гарант</span>"</span>

                    .flex_row__start
                        div
                            img(src='img/logo-garant.png')
                        p <b>Уникальный информационнный продукт.</b><br>Вы работаете с системой ГАРАНТ прямо в браузере в любое время и с любого устройства.<br>Все, что вам нужно — это подключение к Интернету.

                    .divider

                    ul.list--checked
                        li Более 63 000 000 документов
                        li Всегда актуальная информация
                        li Легкий и комфортный интерфейс
                        li Более 63 000 000 документов
                        li Всегда актуальная информация
                        li Легкий и комфортный интерфейс
                        li Всегда актуальная информация
                    button(type='button' class='btn3 btn3--white') Подробнее

        </div>