@font-face {
  font-family: 'calibri';
  src: url("/fonts/Calibri.ttf");
}
@font-face {
  font-family: 'latoblack';
  src: url("/fonts/latoblack.ttf");
}
@font-face {
  font-family: 'latobold';
  src: url("/fonts/latobold.ttf");
}
@font-face {
  font-family: 'latoregular';
  src: url("/fonts/latoregular.ttf");
}
@font-face {
  font-family: 'latolight';
  src: url("/fonts/latolight.ttf");
}
* {
  font-family: latoregular;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.toPushFooter {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  max-width: 1030px;
  width: 100%;
}
a {
  color: #0f73b9;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
