.feedback {
  margin-bottom: 146px
  form {
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 40px
    padding: 10px 30px 0 30px
    min-width: 300px
    width: 300px
    border: 6px solid rgba(67, 115, 170, 0.8)
    h3 {
      margin: 13px 0 20px 0
      font-family: latoblack
      font-size: 23px
      line-height: 25px
      color: #5a7eba
    }
    input,
    textarea {
      margin-bottom: 17px
      padding: 0 5px 0 40px
      max-width: 227px
      width: 100%
      height: 40px
      border: 1px solid #ababab
      border-radius: 4px
      font-family: latoregular
      font-size: 16px
      line-height: 25px
      box-sizing border-box
      &::placeholder {
        color: #666666;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #666666;
      }

      &::-ms-input-placeholder {
        color: #666666;
      }
    }
    .input {
      position: relative
      &:before {
        content: ''
        position: absolute
        top: 0
        left: 15px
        width: 17px
        height: 17px
        background: black
      }
    }
    input {
      &.name,
      &.tel {
        background: url(/img/iconset-feedback1.jpg) no-repeat 12px 10px
      }
      &.tel {
        background-position: 12px -46px
      }
    }
    textarea {
      padding: 5px 12px 5px 12px
      height: 105px
      resize: none
    }

    .agreement {
      color: #848586
      font-family: latoregular
      font-size: 12px
      line-height: 25px
      a {
        color: #848586
      }
      label {
        padding-left: 22px
        &:before {
          top: -1px
        }
      }
      input:not(checked) + label:before {
        width: 15px
        height: 15px
        background: url(/img/icon-checkbox.png) no-repeat
        background-size: cover
        border-radius: 0
      }
      input:not(checked) + label:after {
        top: 50%;
        margin-top: -6px;
        left: 5px;
        width: 3px;
        height: 6px;
        background: transparent
        border-right: 1px solid #ffffff
        border-bottom: 1px solid #ffffff
        border-radius: 0
        transform: rotate(45deg)
      }
    }
    button {
      margin-top: 10px
      margin-bottom: -25px
      padding-right: 35px
      width: 223px
      height: 50px
      font-family: latobold
      font-size: 18px
      color: #fefefe
      background: url(/img/icon-submit.png)
    }
  }

  .right {
    .logo {
      img {
        min-width: 150px
        height: 68px
      }
    }
    .features {
      margin-top: 30px
      margin-bottom: 30px
      ul {
        margin-right: 20px
        &:last-child {
          margin-right: 0
        }
        li {
          position: relative
          padding-left: 30px
          margin-bottom: 15px
          &:before {
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            width: 19px
            height: 19px
            border: 2px solid #f46163
            border-radius: 100px
          }
          &:after {
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 7px
            width: 9px
            height: 9px
            background: #2a6bb0
            border-radius: 100px
          }
        }
      }
    }
    .links {
      padding: 14px 0 14px 0
      a {
        position: relative
        margin-right: 35px
        padding-left: 35px
        &:before {
          content: ''
          position: absolute
          left: 0
          width: 25px
          height: 25px
          background: url(/img/iconset-links.jpg) no-repeat 3px 0
        }
        &:nth-child(2) {
          &:before {
            background-position: -160px 0
          }
        }
        &:nth-child(3) {
          &:before {
            background-position: -399px 0
          }
        }
      }
    }
  }
}

@media (max-width: 970px) {
    .feedback {
      margin-bottom: 85px
      .container > .flex_row__between {
        flex-direction: column
        align-items: center
      }
      form {
        margin-right: 0
      }
      .right {
        margin-top: 35px
      }
      .features {
        justify-content: space-around
      }
      .links {
        display: flex
        flex-wrap: wrap
        justify-content: center
        a {
          margin-top: 8px
          margin-bottom: 8px
        }
      }
    }
}

@media (max-width: 480px) {
  .feedback {
    .features {
      flex-direction: column
      ul {
        margin-right: 0
      }
    }
    .links {
      justify-content: flex-start
    }
  }
}