.indexpagefirstscreen {
  margin-top: -135px
  padding-top: 225px
  min-height: 845px
  background: url(/img/bg-indexpagefirstscreen.jpg) center no-repeat

  
  .single-item {
    position: relative
    transform: translate(-140px)
    width: 1280px
    background-color: #c4d2e1
    &:before {
      content: ''
      position: absolute
      left: -10px
      right: -10px
      top: -10px
      bottom: -10px
      background: rgba(255, 255, 255, 0.5)
    }
    .item {
      width: 100%
      height: 510px
      &:nth-child(1) {
        background-color: #c4d2e1
      }
      &:nth-child(2) {
        background: #0f73b9
      }
      &:nth-child(3) {
        background: cornsilk
      }
      &:nth-child(4) {
        background: chocolate
      }
      &:nth-child(5) {
        background: darksalmon
      }
    }
    ul.slick-dots {
      position: absolute
      display: flex
      bottom: 0
      right: 0
      &:before {
        content: ''
        position: absolute
        right: 0
        bottom: 0
        width: 161px
        height: 37px
        background: #edf1f6
      }
      &:after {
        content: ''
        position: absolute
        right: 125px
        bottom: 0
        border-left: 37px solid transparent;
        border-right: 37px solid transparent;
        border-bottom: 37px solid #edf1f6;
      }
      li {
        position: relative
        z-index: 10
        margin: 13px 0px 13px 9px
        &:last-child {
          margin-right: 33px
        }
        &.slick-active {
          button {
            background-position: -36px 0
          }
        }
        button {
          width: 13px
          height: 13px
          background: url(/img/iconset-slider.png) -16px 0
          font-size: 0
          line-height: 0
        }
      }
    }
    .slick-next,
    .slick-prev {
      position: absolute
      z-index: 10
      bottom: 13px
      right: 142px
      width: 9px
      height: 13px
      background: url(/img/iconset-slider.png)

    }
    .slick-next {
      right: 15px
      transform: rotate(180deg)
    }
  }
}

.indexpagefirstscreen {
  .single-item-mob--js {
    display: none
  }
}

@media (max-width: 1320px) {
    .indexpagefirstscreen {
      .single-item {
        width: 100%
        transform: none
      }
    }
}
  
@media (max-width: 850px) {
  .indexpagefirstscreen {
    margin-top: -185px
    padding-top: 275px
    .single-item {
      .item {
        height: 420px
      }
    }
  }
}

@media (max-width: 730px) {
    .indexpagefirstscreen {
      margin-top: -200px
      padding-top: 290px
    }
}

@media (max-width: 450px) {
    .indexpagefirstscreen {
      margin-top: -255px
      padding-top:  345px
      .single-item-desk--js {
        display: none
      }
      .single-item-mob--js {
        display: block
      }
    }
}

@media (max-width: 430px) {
    .indexpagefirstscreen {
      margin-top: -345px
      padding-top:  380px
    }
}