.mainfield {
  margin-bottom: 130px
  padding-bottom: 85px
  background: #f8fbfd
  h2 {
    margin: 0 0 65px 0
    padding-top: 75px
    text-align: center
    font-family: latobold
    font-size: 52px
    line-height: 60px
    color: #717171
    text-transform: uppercase
  }

  #tabs {
    box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
    .tabs__title__wrap {
      position: relative
      &:before {
        content: ''
        position: absolute
        top: -41px
        right: 40px
        left: 40px
        height: 10px
        box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
      }
      &:after {
        content: ''
        position: absolute
        top: 0px
        width: 100%
        height: 41px
        background: #ffffff
      }
      .forshadow {
        position: absolute
        width: 100%
        height: 40px
        background: #ffffff
        &:before {
          content: ''
          position: absolute
          top: -26px
          right: 11px
          width: 50px
          height: 50px
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
          transform: rotate(45deg)
        }
        &:after {
          content: ''
          position: absolute
          top: -27px
          left: 16px
          width: 50px
          height: 50px
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
          transform: rotate(45deg)
        }
      }
    }
    .tabs__title {
      display: flex
      justify-content: space-between
      position: relative
      top: -41px
      min-height: 41px
      overflow: hidden
      li {
        position: relative
        display: flex
        justify-content: center
        align-items: center
        &:before {
          content: ''
          position: absolute
          z-index: 10
          left: -10px
          width: 150px
          height: 41px
          background: #ccc
        }
        &:after {
          content: ''
          position: absolute
          z-index: -10
          right: 3px
          width: 100px
          height: 400px
          background: black
          transform: rotate(-45deg)
          box-shadow: -1px 1px 26px rgba(0, 0, 0, 0.4)
        }
        &:nth-child(1) {
          a {
            z-index: 30
            padding: 5px 17px 0 45px
            &:before {
              left: 50px
              background-color: darkmagenta
            }
          }
          &:before {
            z-index: 30
            top: -5px
            left: -8px
            height: 100px
            transform: rotate(-45deg)
            background-color: darkmagenta
          }
          &:after {
            z-index: 25
            width: 60px
            right: 0
            background-color: darkmagenta
          }
        }
        &:nth-child(2) {
          a {
            z-index: 22
            &:before {
              background-color: #7ac6df
            }
          }
          &:before {
            background-color: #7ac6df
          }
          &:after {
            z-index: 20
            background-color: #7ac6df
          }
        }

        &:nth-child(3) {
          a {
            z-index: 18
            &:before {
              background-color: #48a0bd
            }
          }
          &:before {
            background-color: #48a0bd
          }
          &:after {
            z-index: 16
            background-color: #48a0bd
          }
        }
        &:nth-child(4) {
          a {
            z-index: 14
            &:before {
              background-color: #42c0c5
            }
          }
          &:before {
            background-color: #42c0c5
          }
          &:after {
            z-index: 12
            right: -4px
            width: 50px
            background-color: #42c0c5
          }
        }
        &:nth-child(5) {
          a {
            z-index: 10
            padding: 5px 43px 0 39px

            &:before {
              left: -40px
              background-color: #14968e
            }
          }
          &:before {
            left: -70px
            background-color: #14968e
          }
          &:after {
            z-index: 2
            right: 40px
            background-color: #14968e
            box-shadow: none
          }
        }

        &.ui-tabs-active {
          &:before,
          &:after {
            background: #ffffff
          }
          a {
            color: #5d5d5d
            &:before {
              background: #ffffff
            }
          }
        }
        a {
          position: relative
          padding: 5px 24px 0 39px
          width: 100%
          height: 100%
          font-family: latoregular
          font-size: 22px
          color: #ffffff
          text-decoration: none
          &:before {
            content: ''
            position: absolute
            z-index: -1
            top: -5px
            left: 35px
            right: 35px
            max-width: 100%
            height: 120%
            background: #7ac6df
          }
        }
      }
    }
    .tabs__content {
      & > div {
        padding: 0 0 40px 0
      }
      h3 {
        display: block
        width: 228px
        font-family: latoblack
        font-size: 25px
        line-height: 25px
        color: #6197a2
        letter-spacing: 0.3px
      }
       .divider.left.right {
          margin: 0
          margin-bottom: 30px
      }
      b {
        font-family: Calibri
        font-size: 18px
        font-weight: 600
        line-height: 26px
        color: #3a3a3a
      }
      p {
        font-family: Calibri
        font-size: 16px
        line-height: 20px
        color: #3a3a3a
      }
      .divider {
        margin: 44px 0 44px 0

      }
      #tabs-1 {
        & > .flex_row__between {
          .left {
            min-width: 190px
            img {
              margin-left: 40px
              margin-right: 20px
            }
          }
          .right {
            p {
              padding-right: 40px
            }
            .companylife {
              display: block
              margin-top: 18px
            }
          }
        }
        ul.features {
          li {
            margin: 0 10px 20px 10px
            padding-top: 70px
            width: 75px
            font-family: latoregular
            font-size: 16px
            line-height: 20px
            text-align: center
            color: #4373aa
            background: url(/img/iconset-features.jpg) no-repeat
            background-position: 12px 0
            &:nth-child(2) {
              background-position: -122px 0
            }
            &:nth-child(3) {
              background-position: -260px 0
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1040px) {
    .mainfield {
      #tabs {
        .tabs__title__wrap {
          .forshadow {
            &:before {
              top: -40px
              right: 0px
              transform: none
            }
          }
        }
        .tabs__title {
          flex-wrap wrap
          justify-content: flex-start
          li {
            display: flex !important
            justify-content center !important
            align-items center !important
            width: 50%
            min-height: 41px
            overflow: hidden
            &:before {
              z-index: 5
              height: 100px
            }
            a {
              display: flex
              align-items center
              padding-top: 7px !important
              padding-right: 20px !important
              padding-bottom: 7px !important
            }
            &:after {
              z-index: 3 !important
              width: 200px!important
              height: 200px!important
            }
            &:last-child {
              &:after {
                top: -101px
              }
            }
            &.ui-tabs-active {
              &:before,
              &:after {
                background: darken(#ffffff, 7%)
              }
              a {
                &:before {
                  background: darken(#ffffff, 7%)
                }
              }
            }
          }
        }
      }
    }
}

@media (max-width: 770px) {
    .mainfield {
      #tabs-1 {
        & > .flex_row__between {
          flex-direction: column
          .left {
            img {
              margin-left: 20px !important
              margin-bottom: 10px
            }
          }
          .right {
            margin-left: 20px
            p {
              padding-right: 20px !important
            }
          }
        }
        ul.features {
          flex-wrap: wrap
          li {

          }
        }
      }
    }
}

@media (max-width: 580px) {
  .mainfield {
    h2 {
      font-size: 35px !important
    }
    #tabs {
      .tabs__title {
        li {
          width: 100%
        }
      }
    }
  }
}