.nanocad {
  .btn3 {
    padding-bottom: 2px
    font-family: Lato
    font-size: 16px
    font-weight: 400
    color: #000000
    text-decoration: none
  }

  p, p > a, p > b {
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !important
    font-size: 16px !important
    font-weight: 400
    line-height: 20px !important
    color: #545454 !important
  }
  p > a {
    color: #417aa3 !important
  }

  h2 {
    color: #4984ad
    font-family: latoblack
    font-size: 20px
    line-height: 32px
    text-transform: uppercase
    text-align: center
  }
  h3, h3 > a {
    font-family: latoblack
    font-size: 20px
    font-weight: 400
    line-height: 32px
    color: #4984ad
  }

  .downloadImg,
  .downloadImg span {
    position: relative
    display: block
    margin-bottom: 30px
    padding: 4px 20px 4px 90px
    font-family: Calibri
    font-size: 16px
    font-weight: 400
    line-height: 20px
    color: #545454
    text-decoration: none
    .size {
      margin: 0
      padding: 0
      color: #989898
      &:before {
        display: none
      }
    }
    &:before {
      content: ''
      position: absolute
      top: 0
      left: 41px
      width: 36px
      height: 48px
      background: url(/img/icon-document.png) no-repeat center
    }
  }

  .form__number {
    font-family: latoblack
    font-size: 80px
    color: #545454
  }
  h3.form__title {
    font-family: latoblack !important
    font-size: 27px !important
    color: #545454 !important
    span {
      display: block
      font-family: latoregular
      font-size: 16px
    }
  }
  &__form.form__submit {
    input {
      margin-bottom: 11px
    }
    button {
      margin: 12px 0 11px 0
    }
    .checkbox.checkbox--cirle {
      width: 100%
      label {
        color: #666666
        line-height: 22px
      }
    }
  }

  &__modal.modal {
    max-width: 340px
    &:before {
      display: none
    }
    .modal__close {
      top: 3px
      right: 1px
      font-family: latoblack
      font-size: 14px
      color: #666666
      border: none
    }

    h3.form__title {
      font-size: 22px !important
    }
  }

}

.nanocad1.nanocad {

  .tabs1 {
    .divider {
      margin: 0
    }
  }

  #tabs-1 {
    .item {
      display: flex
      padding: 23px 30px 23px 32px
      .price {
        font-family: latoregular
        font-size: 18px
        font-weight: 400
        line-height: 20px
        color: #545454
        b {
          font-family: latoblack
          color: #545454
        }
      }
      .btn3 {
        margin: 10px 17px 0 0
      }
      .left {
        margin-right: 27px
        min-width: 100px
        text-align: center
      }
    }
  }

  #tabs-3 {
    ul {
      li {
        position: relative
        padding: 8px 35px 8px 61px
        font-family: latoregular
        font-size: 16px
        font-weight: 400
        line-height: 20px
        color: #545454
        b {
          font-size: 16px
          font-family: latoblack
        }
        &:before {
          content: ''
          position: absolute
          top: 7px
          left: 22px
          width: 30px
          height: 30px
          background: url(/img/iconset-nanocad.png) no-repeat center 3px
        }
        &:nth-child(2) {
          &:before {
            background-position-y: -36px
          }
        }
        &:nth-child(3) {
          &:before {
            background-position-y: -77px
          }
        }
        &:nth-child(4) {
          &:before {
            background-position-y: -116px
          }
        }
        &:nth-child(5) {
          &:before {
            background-position-y: -158px
          }
        }
        &:nth-child(6) {
          &:before {
            background-position-y: -197px
          }
        }
        &:nth-child(7) {
          &:before {
            background-position-y: -236px
          }
        }
        &:nth-child(8) {
          &:before {
            background-position-y: -278px
          }
        }
        &:nth-child(9) {
          &:before {
            background-position-y: -317px
          }
        }
        &:nth-child(10) {
          &:before {
            background-position-y: -356px
          }
        }

      }
    }

    .link {
      padding: 0 35px 0 24px
      font-family: latoregular
      font-size: 16px
      line-height: 20px
      color: #545454
      a {
        color: #4984ad
      }
    }
  }

  #tabs-4 {
    .flex_row__start {
      padding: 5px 70px 5px 40px
      .left {
        margin-right: 40px
        min-width: 125px
      }
    }
  }

  &__img {
    text-align: center
  }

}

/*NANOCAD2 BEGIN*/
.nanocad2 {

  .tabs1 {
    .tabs__title {
      li {
        a {
          font-size: 19px
        }
      }
    }
  }

  &__video {
    margin: 0 auto
    max-width: 808px
    width: 100%
    iframe {
      width: 100%
      box-sizing: border-box
      border: 1px solid rgba(113, 113, 113, 0.6)
    }
  }

  &__other {
    ul {
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      li {
        margin: 15px 10px 15px 10px
        a {
          position: relative
          display: block
          padding-top: 50px
          font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
          font-size: 16px
          font-weight: 400
          line-height: 20px
          color: #4984ad
          text-align: center
          &:before {
            content: ''
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
            width: 50px
            height: 50px
            background: url(/img/icon-nanocad1.png) no-repeat center
            background-size: contain
          }
        }
        &:nth-child(1) {

        }
        &:nth-child(2) {
          a {
            &:before {
              background-image: url(/img/icon-nanocad2.png)
            }
          }
        }
        &:nth-child(3) {
          a {
            &:before {
              background-image: url(/img/icon-nanocad3.png)
            }
          }
        }
        &:nth-child(4) {
          a {
            &:before {
              background-image: url(/img/icon-nanocad2.png)
            }
          }
        }
        &:nth-child(5) {
          a {
            &:before {
              background-image: url(/img/icon-nanocad1.png)
            }
          }
        }

      }
    }
  }
}

@media (max-width: 1040px) {
  .nanocad2 {

    .tabs1 {
      .tabs__title {
        li {
          a {
            font-size: 20px
          }
        }
      }
    }
  }
}
/*NANOCAD2 END*/


/*ENGSOFT BEGIN*/
.engsoft {

  &__types {
    .container {
      display: flex
      flex-wrap: wrap
    }
    a {
      position: relative
      margin: 5px 15px 5px 0
      padding: 0 13px 0 13px
      height: 37px
      font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
      font-size: 16px
      font-weight: 400
      line-height: 37px
      text-decoration: none
      border: 1px solid #4984ad
      background-color: #ffffff
      &:hover {
        color: darken(#0f73b9, 50%)
        border-color: darken(#4984ad, 50%)
      }
      &:first-child {
        &:before {
          z-index: 1
          background: #ffffff
        }
      }
      &:last-child {
        &:after {
          z-index: 1
          background: #ffffff
        }
      }
      &:before, &:after {
        content: ''
        position: absolute
        z-index: -1
        top: 50%
        left: -701px
        width: 700px
        height: 1px
        background: #4984ad
      }
      &:after {
        left: auto
        right: -701px
      }
    }
  }

  &__content {
    .container {
      display: flex
      flex-wrap: wrap
    }
    .item {
      display: flex
      flex-direction: column
      align-items center
      margin: 17px 0 17px 0
      min-width: 230px
      width: 25%
      & > a {
        height: 212px // change
        text-align: center
        img {
          display: block
        }
      }
      .accordion {
        max-width: 230px
        width: 100%
        &.active {
          .content {
            padding: 33px 0 15px 0
            max-height: 620px
            border-bottom: 1px solid #9e9e9e
            border-top: 1px solid #9e9e9e
          }
          .toggler {
            span:nth-child(1) {
              display: none
            }
            span:nth-child(2) {
              display: block
            }
          }
        }
        .toggler {
          position: relative
          margin: 0 auto
          max-width: 122px
          span:nth-child(2) {
            display: none
          }
        }
        .content {
          max-height: 0
          margin-top: -13.5px
          padding: 0
          border: 1px solid #9e9e9e
          border-radius: 4px
          border-top: none
          border-bottom: none
          overflow: hidden
          transition: .4s ease-out
          li {
            a {
              display: block
              padding: 0 20px 0 20px
              font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 970px) {
  .engsoft {
    &__content {
      .item {
        width: 33%
      }
    }
  }
}

@media (max-width: 780px) {
  .engsoft {
    &__content {
      .item {
        width: 50%
      }
    }
  }
}

@media (max-width: 530px) {
  .engsoft {
    &__content {
      .item {
        width: 100%
      }
    }
  }
}
/*ENGSOFT END*/
