.nanocad {
  .btn3 {
    padding-bottom: 2px
    font-family: Lato
    font-size: 16px
    font-weight: 400
    color: #000000
    text-decoration: none
  }

  p, p > a, p > b {
    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !important
    font-size: 16px !important
    font-weight: 400
    line-height: 20px !important
    color: #545454 !important
  }
  p > a {
    color: #417aa3 !important
  }

  h2 {
    color: #4984ad
    font-family: latoblack
    font-size: 20px
    line-height: 32px
    text-transform: uppercase
    text-align: center
  }
  h3, h3 > a {
    font-family: latoblack
    font-size: 20px
    font-weight: 400
    line-height: 32px
    color: #4984ad
  }

  .downloadImg,
  .downloadImg span {
    position: relative
    display: block
    margin-bottom: 30px
    padding: 4px 20px 4px 90px
    font-family: Calibri
    font-size: 16px
    font-weight: 400
    line-height: 20px
    color: #545454
    text-decoration: none
    .size {
      margin: 0
      padding: 0
      color: #989898
      &:before {
        display: none
      }
    }
    &:before {
      content: ''
      position: absolute
      top: 0
      left: 41px
      width: 36px
      height: 48px
      background: url(/img/icon-document.png) no-repeat center
    }
  }

  .form__number {
    font-family: latoblack
    font-size: 80px
    color: #545454
  }
  h3.form__title {
    font-family: latoblack !important
    font-size: 27px !important
    color: #545454 !important
    span {
      display: block
      font-family: latoregular
      font-size: 16px
    }
  }
  &__form.form__submit {
    input {
      margin-bottom: 11px
    }
    button {
      margin: 12px 0 11px 0
    }
    .checkbox.checkbox--cirle {
      width: 100%
      label {
        color: #666666
        line-height: 22px
      }
    }
  }

  &__modal.modal {
    max-width: 340px
    &:before {
      display: none
    }
    .modal__close {
      top: 3px
      right: 1px
      font-family: latoblack
      font-size: 14px
      color: #666666
      border: none
    }

    h3.form__title {
      font-size: 22px !important
    }
  }

}

.nanocad1.nanocad {

  .tabs1 {
    .divider {
      margin: 0
    }
  }

  #tabs-1 {
    .item {
      display: flex
      padding: 23px 30px 23px 32px
      .price {
        font-family: latoregular
        font-size: 18px
        font-weight: 400
        line-height: 20px
        color: #545454
        b {
          font-family: latoblack
          color: #545454
        }
      }
      .btn3 {
        margin: 10px 17px 0 0
      }
      .left {
        margin-right: 27px
        min-width: 100px
        text-align: center
      }
    }
  }

  #tabs-3 {
    ul {
      li {
        position: relative
        padding: 8px 35px 8px 61px
        font-family: latoregular
        font-size: 16px
        font-weight: 400
        line-height: 20px
        color: #545454
        b {
          font-size: 16px
          font-family: latoblack
        }
        &:before {
          content: ''
          position: absolute
          top: 7px
          left: 22px
          width: 30px
          height: 30px
          background: url(/img/iconset-nanocad.png) no-repeat center 3px
        }
        &:nth-child(2) {
          &:before {
            background-position-y: -36px
          }
        }
        &:nth-child(3) {
          &:before {
            background-position-y: -77px
          }
        }
        &:nth-child(4) {
          &:before {
            background-position-y: -116px
          }
        }
        &:nth-child(5) {
          &:before {
            background-position-y: -158px
          }
        }
        &:nth-child(6) {
          &:before {
            background-position-y: -197px
          }
        }
        &:nth-child(7) {
          &:before {
            background-position-y: -236px
          }
        }
        &:nth-child(8) {
          &:before {
            background-position-y: -278px
          }
        }
        &:nth-child(9) {
          &:before {
            background-position-y: -317px
          }
        }
        &:nth-child(10) {
          &:before {
            background-position-y: -356px
          }
        }

      }
    }

    .link {
      padding: 0 35px 0 24px
      font-family: latoregular
      font-size: 16px
      line-height: 20px
      color: #545454
      a {
        color: #4984ad
      }
    }
  }

  #tabs-4 {
    .flex_row__start {
      padding: 5px 70px 5px 40px
      .left {
        margin-right: 40px
        min-width: 125px
      }
    }
  }

  &__img {
    text-align: center
  }

}