extends pug-components/layout

block append title
    -page = 'Главная'

block content
    include pug-components/index/indexpagefirstscreen
    include pug-components/index/mainfields
    include pug-components/index/feedback
