extends pug-components/inner-template

block innerPage__content1
    .license-inner
        .flex_row__start
            .license__img
                img(src='img/picture-certificate1.jpg')
                button(type='button')

            .text
                div УМНОЕ ПРОЕКТИРОВАНИЕ
                div СЕРТИФИКАТ
                div Данный сертификат подтверждает, что 
                    span ООО «НТПЦ» 
                    span ИНН 7801483426
                div Является авторизованным партнером 
                    span ЗАО "Нанософт" в отношении предоставления прав на 
                    span использование на территории Российской 
                    span Федерации следующих программ для ЭВМ: 
                    ul
                        li папоСАВ Рs|из‚ папоСАВ Р|и$ модуль 30 моделирование,
                        li папоСАВ Рs|и5 модуль 20 Параметризация, папоСАО ВК,
                        li папоСАВ Геоника,
                        li папоСАВ Конструкции, папоСАО ЛЭП,
                        li папоСАО МеханикалапоСАВ ОПС, папоСАВ СКС‚
                        li папоСАО СПДС‚ папоСАВ СПДС Стройплощадка,
                        li папоСАО Схемы, папоСАВ Электро, папоТОМЗ.
                        li папоСАВ СПДС Железобетон, папоСАО Отопление.
                div директор направления папоСАВ 
                    span ‚ ЗАО «Наиософт» 
                    span Т.А.Сергеева
                div Срок действия сертификата 
                    span до 31.12.2018






