extends pug-components/inner-template

block append title
    -page = 'Сертификаты и лиценз.'

block innerPage__content1
    .license
        ul
            li
                .license__img
                    img(src='img/picture-certificate1.jpg')
                    button(type='button')
                a(href='license-inner.html') Название сертификата aномер один
            li
                .license__img
                    img(src='img/picture-certificate1.jpg')
                    button(type='button')
                a(href='license-inner.html') Название сертификата aномер один
            li
                .license__img
                    img(src='img/picture-certificate1.jpg')
                    button(type='button')
                a(href='license-inner.html') Название сертификата aномер один
            li
                .license__img
                    img(src='img/picture-certificate1.jpg')
                    button(type='button')
                a(href='license-inner.html') Название сертификата aномер один
            li
                .license__img
                    img(src='img/picture-certificate1.jpg')
                    button(type='button')
                a(href='') Название сертификата aномер один
            li
                .license__img
                    img(src='img/picture-certificate1.jpg')
                    button(type='button')
                a(href='') Название сертификата aномер один
            li
                .license__img
                    img(src='img/picture-certificate1.jpg')
                    button(type='button')
                a(href='') Название сертификата aномер один
            li
                .license__img
                    img(src='img/picture-certificate1.jpg')
                    button(type='button')
                a(href='') Название сертификата aномер один
            li
                .license__img
                    img(src='img/picture-certificate1.jpg')
                    button(type='button')
                a(href='') Название сертификата aномер один


        .pagination
            a(class='pag arrow' href='') «
            a(class='pag' href='') 1
            a(class='pag active' href='') 2
            a(class='pag' href='') 3
            a(class='pag arrow' href='') »