extends pug-components/layout

block append title
    -page = 'ЭЦП'

block content
    .tender.ecp.ecp2
        .container
            //h2.innerPage__title Электронные цифровые подписи
            .crumbs
                a(href='index.html') Главная
                span.slash »
                a(href='ecp.html') ЭЦП
                span.slash »
                a(class='current' href='ecp2.html') ЭЦП для государственных порталов



        .tender__slider
            .container
                .wrap
                    .circleslider
                        .viewport
                            ul.overview
                                li У нас вы <b>не переплатите</b>, так как мы оформляем безлимитное количество заявок и вы платите один минимальный взнос плюс маленьки процент от сделки в зависимости от тарифа
                                li У нас вы не переплатите, так как мы оформляем безлимитное количество заявок и вы платите один минимальный взнос плюс маленьки процент от сделки в зависимости от тарифа
                                li У нас вы не переплатите, так как мы оформляем безлимитное количество заявок и вы платите один минимальный взнос плюс маленьки процент от сделки в зависимости от тарифа
                                li У нас вы не переплатите, так как мы оформляем безлимитное количество заявок и вы платите один минимальный взнос плюс маленьки процент от сделки в зависимости от тарифа
                                li У нас вы не переплатите, так как мы оформляем безлимитное количество заявок и вы платите один минимальный взнос плюс маленьки процент от сделки в зависимости от тарифа
                        .overlay
                        .thumb
                        div(class='dot dot-1' data-slide-index='0')
                        div(class='dot dot-2' data-slide-index='1')
                        div(class='dot dot-3' data-slide-index='2')
                        div(class='dot dot-4' data-slide-index='3')
                        div(class='dot dot-5' data-slide-index='4')
